.nav-item {
    display: inline;
    padding: 5%;
}

.container {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #3d528e;
    margin-left: -0.6%;
    margin-right: -0.5%;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    border: 2px;
    padding: 1% 3%;
}

.nav-link:hover {
    background-color: gray;
}

.nav-link:active {
    background-color: navy;
}